.carouselItemContainer {
    position: absolute;
    min-width: 0;
    overflow: hidden;
}

.carouselController {
    position: absolute;
    left: 50%;
    top: calc(100% - 35px);
}

.carouselItem {
    float: left;
    font-size: 10px;
    font-weight: bold;
}

.previousController {
    background: url("../../images/LeftCircularSmall.png") no-repeat;
    margin-right: 4px;
}

.nextController {
    background: url("../../images/RightCircularSmall.png") no-repeat;
    margin-left: 4px;
}

.previousController, .nextController {
    height: 25px;
    width: 25px;
    background-size: 25px;
    text-indent: 77777px;
    float: left;
    opacity: 0.7;
    cursor: pointer;
}

.previousController:hover, .nextController:hover {
    opacity: 1;
}