* {
  font-family: Trebuchet, Tahoma, Arial, Helvetica, sans-serif;
}

body{
  overflow: hidden;
}

@import "buttons/_master_create";
@import "modules/_menu";
@import "themes/_dark";
@import "themes/_light";
@import "modules/_screen";

.alertify {
  top: 30%;
  font-size: 12px;
  width: 350px;
  left: 56%;
}

#popUpContainer {
  z-index: 12;
}

#MainContainer {
  overflow: hidden;
  height: 675px;
}

#loaderContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  display: none;
}

.loading {
  display: block !important;
}



